* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*::-webkit-scrollbar {
  width: var(--scrollbar-width, 10px);
  height: var(--scrollbar-height, 10px);
}

*::-webkit-scrollbar-thumb {
  background: var(--scrollbar-thumb-color, #c2c2c2);
  border-radius: var(--scrollbar-border-radius, 4px);

  &:hover {
    cursor: pointer;
  }
}

body {
  overflow: hidden;
}

html {
  font-family: Arial, Helvetica, sans-serif;
  scroll-behavior: smooth;
}

.home {
  min-height: 100vh;

  .sider {
    height: 100vh;
    font-weight: 700;

    .iconSidevar {
      height: 20px;
      width: 20px;

      path,
      g,
      polygon {
        fill: #fff !important;
      }
    }

    .titleSider {
      display: flex;
      align-items: center;
      justify-content: center;
      border-bottom: 1px solid rgb(30 53 73);

      .iconSibarTitle {
        height: 120px;
        width: 120px;
        path:nth-child(1) {
          fill: #001529;
        }
      }

      .title {
        color: #fff;
        font-size: 18px;
        font-weight: 400;
        text-align: left;
      }
    }

    .contentSider {
      flex: 1;
      overflow-x: hidden;
      overflow-y: auto;
      padding: 20px;

      .listStandard {
        margin-bottom: 20px;
        li {
          font-size: 12px;
          list-style: none;
          color: #fff;
          padding-bottom: 4px;
        }
      }
    }

    .labelSider {
      font-weight: 700;
      font-size: 16px;
      color: #fff;
      margin-bottom: 20px;
    }

    .label {
      font-size: 10px;
      color: #ddd;
      padding-bottom: 10px;
    }

    .groupMode {
      padding-bottom: 20px;
      span {
        color: #fff;
      }
    }

    .wrapperUpload {
      p {
        color: #fff;
      }
      margin-bottom: 20px;
    }

    .inputLimited {
      width: 100%;
      margin-bottom: 20px;
    }

    :global {
      // .ant-layout-sider-children {
      //   display: flex;
      //   flex-direction: column;
      // }

      .ant-menu-item {
        display: flex;
        align-items: center;
      }
    }
  }

  .screenMain {
    height: 100vh;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    background-color: #fff;

    .header {
      background-color: #fff;
      margin-left: 16px;
      height: auto;
      box-shadow: 0 -6px 7px -7px rgba(128, 128, 128, 0.584) inset;
      // box-shadow: 0 5px 5px rgba(182, 182, 182, 1);

      .content {
        display: flex;
        align-items: center;
        justify-content: space-between;
        align-items: flex-start;

        .title {
          color: #272727;
          font-size: 30px;
          font-weight: 700;
          letter-spacing: 0.2px;
        }

        .infoCurrentUser {
          .avatar {
            &:hover {
              cursor: pointer;
              opacity: 0.8;
            }
          }
        }

        .note {
          font-size: 16px;
          font-weight: 400;
        }

        .statusWrapper {
          display: flex;
          align-items: center;
          justify-content: center;
          font-size: 10px;
          font-weight: 700;
          svg {
            height: 20px;
            width: 20px;
            margin-right: 6px;
          }
        }

        .loading {
          color: #32a1c8;
          svg {
            path {
              color: #32a1c8;
            }
          }
        }

        .done {
          color: #2fce00;
          svg {
            path {
              color: #2fce00;
            }
          }
        }

        .fail {
          color: #f5222d;
          svg {
            path {
              color: #f5222d;
            }
          }
        }
      }

      .navbar {
        display: flex;
        align-items: center;

        .stopBtn {
          margin-left: 10px;
          font-size: 10px;
          font-weight: 700;
          color: rgba(39, 39, 39, 0.6);
        }
      }
    }

    .body {
      .content {
        background-color: #fff;
        padding: 20px 100px;

        @media (min-width: 1680px) {
          padding: 20px 200px;
        }

        .resultImageWrapper {
          display: flex;
          align-content: center;
          justify-content: center;
        }

        .resultDatas {
          display: flex;
          align-items: center;
          justify-content: space-between;
          margin-top: 30px;

          .dataWrapper {
            width: 20%;
            height: 80px;

            .label {
              color: #272727;
              font-weight: 700;
            }

            .data {
              color: rgba(39, 39, 39, 0.6);
              font-weight: 700;
              font-size: 30px;
              margin-top: 10px;
              text-align: center;
              display: flex;
              align-items: center;
              height: 60px;

              svg {
                width: 50px !important;
                height: 50px !important;
                margin-right: 20px;

                path {
                  fill: rgba(39, 39, 39, 0.6) !important;
                }
              }

              .percentIcon {
                width: 36px !important;
                height: 36px !important;
              }

              .summaryText {
                font-size: 26px;
              }
            }
          }
        }
      }
    }

    .footer {
      padding: 10px;
      box-shadow: 8px 10px 30px 0px #888888;
    }
  }

  .wrapperCommingSoon {
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-weight: 700;
    font-size: 20px;
  }
}

.contentInfo {
  .email {
    padding-bottom: 30px;
  }
}
